@media (max-width: 1000px) {
  header {
    height: auto;
    align-items: flex-start;
  }
  p,
  h1,
  h2,
  a {
    font-weight: lighter;
  }

  #navBar {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    row-gap: 0.5rem;
    column-gap: 0.2rem;
    justify-content: space-around;
    align-items: center;
    height: auto;

    li:first-child {
      flex: 0 0 100%;
      margin-right: auto;
      margin-top: 0.3rem;
    }

    li > a {
      padding: 0.1rem 0.7rem;
      font-size: 24px;
      text-align: center;
    }
  }

  .logoRow {
    flex-wrap: wrap;

    .logoRow img {
      width: 8rem;
    }
  }
  #videoSection {
    #videoText {
      font-size: 32px;
    }
    #videoBox {
      height: 65%;
      width: 75%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  #whyUsSection {
    h2 {
      margin-bottom: 3rem;
      font-weight: lighter;
      font-size: 1.7rem;
    }

    .circleGrid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    figcaption {
      font-size: 16px;
      width: 100%;
      max-width: 260px;
      white-space: normal; /* default, but explicit */
      overflow-wrap: anywhere; /* breaks long words/strings */
      hyphens: auto;
    }
  }

  #priceSection {
    .cardRow {
      grid-template-columns: 1fr;
    }
    .cardLong.featured {
      transform: none;
    }
  }
  #whyUsSection {
    h2 {
      margin-bottom: 3rem;
      font-weight: lighter;
    }

    .circleGrid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  #priceSection {
    .cardRow {
      grid-template-columns: 1fr;
    }
    .cardLong.featured {
      transform: none;
    }
  }
}
