header {
  background-color: var(--navBg);
  height: 142px;
  width: 1440px;
}

a {
  color: var(--basicBitchBlack);
  text-decoration: none;
}

a:hover {
  color: orange;
}

#navBar > li > a {
  color: var(--basicBitchBlack);
  text-decoration: none;
  /* border: 2px solid black; */
  font-size: 28px;
  padding: 5px 10px;
  background-color: var(--basicBitchWhite);
  /* position: absolute; */
  /* top: 7%; */
  /* transform: translateY(-10%); */
}
#navBar {
  list-style: none;
  display: flex;
  gap: 2rem 5rem;
  height: 100%;
  justify-content: flex-start;
  background-color: var(--navBg);
  align-items: center;
}
#navBar > li:first-child {
  margin-right: auto;
  margin-left: 5rem;
  padding: 8px 20px;
}
