

header {
  background-color: var(--navBg);
  height: 10vw;
}

a {
  color: var(--basicBitchBlack);
  text-decoration: none;
}

a:hover {
  color: orange;
}

#navBar > li > a {
  color: var(--basicBitchBlack);
  text-decoration: none;
  border: 2px solid black;
  padding: 3px 2px;
  background-color: var(--basicBitchWhite);
}
#navBar {
  list-style: none;
  display: flex;
  gap: 2rem 5rem;
  height: 100%;
  justify-content: flex-start;
  background-color: var(--navBg);
}
#navBar > li:first-child {
  margin-right: auto;
}
