@import url("./nav_bar.css");
@import url("./trusted_by.css");
@import url("./why_us.css");
@import url("./advertising.css");
@import url("./video.css");
@import url("./price.css");
@import url("./social_media.css");
@import url("./app_features.css");
@import url("./media_query.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
  /* border: 1px solid hotpink; */
}

:root {
  --basicBitchBlack: rgba(18, 18, 18, 1);
  --basicBitchWhite: rgba(235, 235, 235, 1);
  --greyBgLight: rgba(237, 237, 237, 1);
  --greyBgDark: rgba(196, 196, 196, 1);
  --greyBgVideo: rgba(171, 171, 171, 1);
  --navBg: rgba(143, 143, 143, 1);
  --cardPriceButton: rgba(215, 215, 215, 1);
  --transparent: rgba(0, 0, 0, 0);
}

html {
  background-color: var(--basicBitchBlack);
  color: var(--basicBitchWhite);
  scroll-behavior: smooth;
}
